Teams
  <% for team in @teams %>
    <div  class="teamBox">
    	<image src="images/gravatar.jpg"  
    	 class="imageTeamBox"
    	>
    	</img>	
    	<div class="textTeam"><%=h team.team_name %></div>	
    	<div class="clearBoth"></div>
    </div>
  <% end %>
  