<a href="#">Link</a>
<script type="text/javascript">
	// $(document).ready(function(){
		// $("a").click(function(){
			// alert("Hello World");
		// });
	// });
	$(document).ready(function{
		$("#orderedlist").addClass("red");
	});

</script>

