<div id="header" >
	<div id="topMenu">	
		<div id="menuWrapper">
			<div id="menuBar">
				<ul>
					<li><%= link_to "Home", root_path %></li>
					<li><%= link_to "About", about_path %></li>
					<li><%= link_to "Sign In", signin_path  %></li>						
				</ul>
			</div>
		</div>
	</div>
</div>	